body {
    margin: 0px;
    background-image: url(/images/background-europa-league_3.png);
}

.logo {
    height: 80px;
    width: 20%;
    padding-top: 15px;
    filter: invert();
    /* background-color: rgb(255, 0, 0); */
    display: inline-block;

}

.nav,
.logo {
    display: inline-block;
}

#img {
    margin-left: 30px;
}

.nav {
    float: right;
    height: 80px;
    min-width: 20%;
    padding-right: 20px;
    padding-top: 15px;
    /* background-color: rgb(8, 0, 255); */

}

.header {
    height: 70px;
    width: 100%;
    padding-top: 15px;
    background-color: rgb(0, 0, 0);
}

li {
    list-style: none;
    color: white;
    float: left;
    margin-right: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


a {
    text-decoration: none !important;
    color: rgb(255, 255, 255) !important;
}

a:hover {
    color: rgb(225, 60, 0) !important;
    text-shadow: 2px 2px 2px rgb(155, 41, 0) !important;

}

/* /////// */

.trophy {
    filter: contrast(35.5);
    /* background-color: red; */
    width: 500px;
}

.carouselA {
    margin-top: -450px;
    float: right;
    margin-left: 1026px;
    margin-right: 70px;
    /* margin-bottom: 40px; */

}

.sliderimg {
    height: 150px;

}