<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/header.css">
</head>

<body>
    <div class="header">
        <div class="logo">
            <!-- <img src="images/athens.png" alt="" id="img"> -->
            <img src="images/uefa-logo-black.svg" alt="" id="img">

        </div>
        <div class="nav">
            <ul>
                <li><a href="/home">HOME</a></li>
                <li><a href="#">DRAWS</a></li>
                <li><a href="/club">CLUB</a></li>
                <li><a href="#">NEWS</a></li>
                <li><a href="/api/europa/view">TEAMS</a></li>
                <li><a href="#">STORE</a></li>
                <li><a href="#">ABOUT</a></li>


            </ul>
        </div>
    </div>
    <div class="dem">

    </div>

</body>

</html>